// Generic colors
$color-white: #FCFEFF;
$color-grey: #E9F1F7;
$color-grey2: #E4ECF2;
$color-black: #000;

// Accent colors
$color-accent1-tint1: #211D67;
$color-accent1-tint2: #5A779C;
$color-accent1-tint3: #141240;
$color-accent2-tint1: #FE1F4C;
$color-accent2-tint2: #FEC2CE;
$color-accent2-tint3: #a20121;
$color-accent3-tint1: #0087D2;


$color-danger: #E20000;
$color-lightdanger: #FDEDED;
$color-highlight: #12DD9E;