<%- Html.React("Components.AccordionSection", {
  title: 'Accordeon',
  intro: 'HKU kent twee soorten collegegeld: wettelijk en instellingscollegegeld. Afhankelijk van jouw situatie betaal je wettelijk of instellingscollegegeld. Raadpleeg de collegegeldwizard om vast te stellen welk bedrag op jou van toepassing is. Let wel: de in de collegegeldwizard genoemde regelingen zijn onder voorbehoud van wettelijke wijzigingen.',
  items: [
    { title: 'Wettelijk collegegeld', text: '<p><b>Omschrijving</b> over wettelijk collegegeld</p>' },
    { title: 'Instellingstarief', text: '<p><b>Omschrijving</b> over instellingstarief</p>' },
    { title: 'Spullen en extra kosten', text: '<p><b>Omschrijving</b> over spullen en extra kosten</p>' },
    { title: 'Keuzevakken', text: '<ul><li>ensemblelessen</li><li>projecten</li><li>masterclasses</li><li>retoriek</li></ul>' },
  ],
}) %>