<div class="container container--center container--margin">
  <div class="container--two-third">
    <h2 class="h2 list-of-links__title">Links</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam deleniti numquam voluptate ducimus earum
      blanditiis aut consequatur magni, cupiditate quo!
    </p>
    <p>
      <a href="#">A link</a>
    </p>
  </div>
</div>

<div class="container container--center container--margin">
  <div class="container--two-third">
    <h2 class="h2 list-of-links__title">Buttons</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam deleniti numquam voluptate ducimus earum
      blanditiis aut consequatur magni, cupiditate quo!
    </p>
    <button>Button tag</button>
    <button class="btn">Btn class</button>
    <a class="btn" href="#">A tag Btn class</a>
    <input type="button" class="btn" value="Input tag Button type Btn class" />
    <input type="submit" class="btn" value="Input tag Submit type Btn class" />
  </div>
</div>