<%- Html.React("Components.OctoTemplateSection", {
  vendorUrl: 'https://octo.hku.nl/octo/vendor/js/require.js',
  scriptUrl: 'https://octo.hku.nl/octo/js/frontend.js',
  text: '<p>Dit is een octo overzicht component.</p>',
  filter: '<div id="octoFacets"></div>',
  overview: '<div class="octoNode" data-project="pubplatv2" data-object="document" data-rendermodel="iconlist-www" data-presets="afdeling:==*"></div>',
}) %>
