<%- Html.React("Components.OctoSection", {
    vendorUrl: 'https://octo.hku.nl/octo/vendor/js/require.js',
    scriptUrl: 'https://octo.hku.nl/octo/js/frontend.js',
    html: '<div data-project="truelime" class="octoNode octoCss" data-object="data" data-rendermodel="nav" id="octoNode_0"></div>'
}) %>
