<div class="container container--center">
  <h1>Scrollbare tabellen</h1>
  <h2>Een tabel met 2 kolommen die ongeveer 2/3 van de breedte gebruikt</h2>
  <div class="table-container">
    <div class="table-scroller">
      <table>
        <thead>
          <tr>
            <th>Situatie</th>
            <th>Je hebt recht op</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Je kon niet mee met de eerstvolgende bus omdat:
              <ul>
                <li>Het voertuig vol zat</li>
                <li>Je rit uitgevallen was</li>
                <li>De bus te vroeg vertrokken was</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de <a href="#">ritprijs</a></li>
                <li>Meer dan een uur vertraging: 100% van de ritprijs</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Je miste de aansluiting op een gegarandeerde overstap</td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de totale prijs van de ritten vóór en na de aansluiting</li>
                <li>Meer dan een uur vertraging: 100% van de totale prijs van de ritten vóór en na de aansluiting</li>
              </ul>
          </tr>
          <tr>
            <td>Je kwam meer dan een half uur later aan op je eindbestemming doordat de bus vertraging had</td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de ritprijs</li>
                <li>Meer dan een uur vertraging: 100% van de ritprijs</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <h2>Een tabel met 3 kolommen die ongeveer de hele breedte gebruikt</h2>
  <div class="table-container">
    <div class="table-scroller">
      <table>
        <thead>
          <tr>
            <th>Situatie</th>
            <th>Je hebt recht op</th>
            <th>Je hebt recht op</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Je kon niet mee met de eerstvolgende bus omdat:
              <ul>
                <li>Het voertuig vol zat</li>
                <li>Je rit uitgevallen was</li>
                <li>De bus te vroeg vertrokken was</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de <a href="#">ritprijs</a></li>
                <li>Meer dan een uur vertraging: 100% van de ritprijs</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de <a href="#">ritprijs</a></li>
                <li>Meer dan een uur vertraging: 100% van de ritprijs</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Je miste de aansluiting op een gegarandeerde overstap</td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de totale prijs van de ritten vóór en na de aansluiting</li>
                <li>Meer dan een uur vertraging: 100% van de totale prijs van de ritten vóór en na de aansluiting</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de totale prijs van de ritten vóór en na de aansluiting</li>
                <li>Meer dan een uur vertraging: 100% van de totale prijs van de ritten vóór en na de aansluiting</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Je kwam meer dan een half uur later aan op je eindbestemming doordat de bus vertraging had</td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de ritprijs</li>
                <li>Meer dan een uur vertraging: 100% van de ritprijs</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de ritprijs</li>
                <li>Meer dan een uur vertraging: 100% van de ritprijs</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <h2>Tabel met meer dan 3 kolommen die horizontaal scrollt</h2>
  <div class="table-container">
    <div class="table-scroller">
      <table>
        <thead>
          <tr>
            <th>Situatie</th>
            <th>Je hebt recht op</th>
            <th>Je hebt recht op</th>
            <th>Je hebt recht op</th>
            <th>Je hebt recht op</th>
            <th>Je hebt recht op</th>
            <th>Je hebt recht op</th>
            <th>Je hebt recht op</th>
            <th>Je hebt recht op</th>
            <th>Je hebt recht op</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Je kon niet mee met de eerstvolgende bus omdat:
              <ul>
                <li>Het voertuig vol zat</li>
                <li>Je rit uitgevallen was</li>
                <li>De bus te vroeg vertrokken was</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de <a href="#">ritprijs</a></li>
                <li>Meer dan een uur vertraging: 100% van de ritprijs</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de <a href="#">ritprijs</a></li>
                <li>Meer dan een uur vertraging: 100% van de ritprijs</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de <a href="#">ritprijs</a></li>
                <li>Meer dan een uur vertraging: 100% van de ritprijs</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de <a href="#">ritprijs</a></li>
                <li>Meer dan een uur vertraging: 100% van de ritprijs</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de <a href="#">ritprijs</a></li>
                <li>Meer dan een uur vertraging: 100% van de ritprijs</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de <a href="#">ritprijs</a></li>
                <li>Meer dan een uur vertraging: 100% van de ritprijs</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de <a href="#">ritprijs</a></li>
                <li>Meer dan een uur vertraging: 100% van de ritprijs</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de <a href="#">ritprijs</a></li>
                <li>Meer dan een uur vertraging: 100% van de ritprijs</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de <a href="#">ritprijs</a></li>
                <li>Meer dan een uur vertraging: 100% van de ritprijs</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Je miste de aansluiting op een gegarandeerde overstap</td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de totale prijs van de ritten vóór en na de aansluiting</li>
                <li>Meer dan een uur vertraging: 100% van de totale prijs van de ritten vóór en na de aansluiting</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de totale prijs van de ritten vóór en na de aansluiting</li>
                <li>Meer dan een uur vertraging: 100% van de totale prijs van de ritten vóór en na de aansluiting</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de totale prijs van de ritten vóór en na de aansluiting</li>
                <li>Meer dan een uur vertraging: 100% van de totale prijs van de ritten vóór en na de aansluiting</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de totale prijs van de ritten vóór en na de aansluiting</li>
                <li>Meer dan een uur vertraging: 100% van de totale prijs van de ritten vóór en na de aansluiting</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de totale prijs van de ritten vóór en na de aansluiting</li>
                <li>Meer dan een uur vertraging: 100% van de totale prijs van de ritten vóór en na de aansluiting</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de totale prijs van de ritten vóór en na de aansluiting</li>
                <li>Meer dan een uur vertraging: 100% van de totale prijs van de ritten vóór en na de aansluiting</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de totale prijs van de ritten vóór en na de aansluiting</li>
                <li>Meer dan een uur vertraging: 100% van de totale prijs van de ritten vóór en na de aansluiting</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de totale prijs van de ritten vóór en na de aansluiting</li>
                <li>Meer dan een uur vertraging: 100% van de totale prijs van de ritten vóór en na de aansluiting</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de totale prijs van de ritten vóór en na de aansluiting</li>
                <li>Meer dan een uur vertraging: 100% van de totale prijs van de ritten vóór en na de aansluiting</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Je kwam meer dan een half uur later aan op je eindbestemming doordat de bus vertraging had</td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de ritprijs</li>
                <li>Meer dan een uur vertraging: 100% van de ritprijs</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de ritprijs</li>
                <li>Meer dan een uur vertraging: 100% van de ritprijs</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de ritprijs</li>
                <li>Meer dan een uur vertraging: 100% van de ritprijs</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de ritprijs</li>
                <li>Meer dan een uur vertraging: 100% van de ritprijs</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de ritprijs</li>
                <li>Meer dan een uur vertraging: 100% van de ritprijs</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de ritprijs</li>
                <li>Meer dan een uur vertraging: 100% van de ritprijs</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de ritprijs</li>
                <li>Meer dan een uur vertraging: 100% van de ritprijs</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de ritprijs</li>
                <li>Meer dan een uur vertraging: 100% van de ritprijs</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>30-60 minuten vertraging: 50% van de ritprijs</li>
                <li>Meer dan een uur vertraging: 100% van de ritprijs</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <h2>Tabel met kleine waardes, waarbij de cellen geen onnodige ruimte gebruiken</h2>
  <div class="table-container">
    <div class="table-scroller">
      <table>
        <thead>
          <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>a1</td>
            <td>a2</td>
            <td>a3</td>
          </tr>
          <tr>
            <td>b1</td>
            <td>b2</td>
            <td>b3</td>
          </tr>
          <tr>
            <td>c</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>d</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>e</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>f</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>g</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <h2>Tabel met meer dan 3 kleine waardes, waarbij de cellen geen onnodige ruimte gebruiken en de tabel niet horizontaal scrollbaar is als hij op het scherm past</h2>
  <div class="table-container">
    <div class="table-scroller">
      <table>
        <thead>
          <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>a1</td>
            <td>a2</td>
            <td>a3</td>
            <td>a4</td>
            <td>a5</td>
          </tr>
          <tr>
            <td>b1</td>
            <td>b2</td>
            <td>b3</td>
            <td>b4</td>
            <td>b5</td>
          </tr>
          <tr>
            <td>c</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>d</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>e</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>f</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>g</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <h2>Tabel met top headers en left headers, die over de items hoveren als je scrollt in de tabel</h2>
  <div class="table-container">
    <div class="table-scroller table-scroller--with-left-headers">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>a</th>
            <td>a2</td>
            <td>a3</td>
            <td>a4</td>
            <td>a5</td>
            <td>a6</td>
            <td>a7</td>
          </tr>
          <tr>
            <th>b</th>
            <td>b2</td>
            <td>b3</td>
            <td>b4</td>
            <td>b5</td>
            <td>b6</td>
            <td>b7</td>
          </tr>
          <tr>
            <th>c</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>d</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>e</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>f</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>g</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h2 id="hash-title-example">Woorden die te breed zijn voor een tabelcel</h2>
  <div class="table-container">
    <div class="table-scroller table-scroller--with-left-headers">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Dit woord is te breed: WWWWWWWWWWWWWWWWWWWWWWWWWWWWW</th>
            <td>a2</td>
            <td>a3</td>
            <td>a4</td>
            <td>a5</td>
            <td>a6</td>
            <td>a7</td>
          </tr>
          <tr>
            <th>In dit geval is door de content editor aangegeven waar het woord onderbroken mag worden: WWWWWWW&shy;WWWWWWW&shy;WWWWWWWWW&shy;WWWWWW</th>
            <td>b2</td>
            <td>b3</td>
            <td>b4</td>
            <td>b5</td>
            <td>b6</td>
            <td>b7</td>
          </tr>
          <tr>
            <th>c</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>d</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>e</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>f</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>g</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>