@mixin container--center($padding: true) {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  @if($padding) {
    padding: 0 2.5rem;
    @include respond-to('tablet', 'portrait') {
      padding: 0 4rem 6.5rem;
      .row__column:not(:first-child) & {
        padding-left: 4rem;
      }
    }
  }
}
@mixin container--center-wide($padding: true) {
  max-width: 117rem;
  margin-left: auto;
  margin-right: auto;
  @if($padding) {
    padding: 0 2.5rem;
    @include respond-to('tablet', 'portrait') {
      padding: 0 4rem 0 6.5rem;
      .row__column:not(:first-child) & {
        padding-left: 4rem;
      }
    }
  }
}
@mixin container--margin-top {
  margin-top: 2.5rem;
  @include respond-to('tablet', 'portrait') {
    margin-top: 4.5rem;
  }
}
@mixin container--margin-bottom {
  margin-bottom: 2.5rem;
  @include respond-to('tablet', 'portrait') {
    margin-bottom: 4.5rem;
  }
}
@mixin container--margin {
  @include container--margin-top;
  @include container--margin-bottom;
}

.container {
  max-width: 100%;
  width: 100%;

  &--margin-top {
    @include container--margin-top;
  }
  &--margin-bottom {
    @include container--margin-bottom;
  }   
  &--margin {
    @include container--margin;
  } 
  &--center-wide {
    @include container--center-wide;
  }
  &--center {
    @include container--center;
  }

  &--clearfix {
    @include clearfix;
  }
  &--clearfix-top {
    @include clearfix-top;
  }
}
