.media-section {
  background: $color-white;

  &__container {
    position: relative;
  }

  &__info {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    color: $color-white;
    fill: $color-white;
    
    @include respond-to(tablet, portrait) {
      left: 4rem;
      bottom: 4rem;
    }
  }

  &__image {
    width: 100%;
    margin-bottom: 1.6rem;

    @include respond-to(tablet, portrait) {
      margin-bottom: 1.8rem;
    }
  }
}
