img {
  display: block;
  max-width: 100%;
  height: auto;
}

@mixin img {
  margin: 4rem 0;

  @include respond-to('tablet', 'portrait') {
    margin: 4.5rem 0;
  }
}

img:not([class]) {
  @include img;
}
